

body{
background-color:
	
}
p{
	
text-align:center;
}
h1{ 

 font-family: "Times New Roman" ;
 text-align:center;
}
h2{
	color:blue;
	text-align: center;
	text-align:justify;
	text-indent: 40px;
	line-height:2.0;
	
}
ul {
    list-style-type: none;
    margin: 15;
    padding: 15;
    overflow: hidden;
    background-color: #005bef;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.prop {
  border: 1px solid #FFF;
  padding: 40px 0px;
  margin: 5px 0px;
  text-align: center;
   font-family: "Times New Roman" ;
}
.container{
	text-align:center;
	color:red;
	font-size:300%
}

.jumbotron{
color:blue;
}